<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário-Curso</title>
</head>
<body>
<h2>Cadastro de Usuário-Curso</h2>
<form method="post">
    <label for="usuario">Usuario:</label>
    <select name="usuario" id="usuario">
        <th:block th:each="usuario : ${usuarios}">
            <option th:value="${usuario.id}" th:text="${usuario.name}" th:selected="${usuario.id eq usuarioCurso.usuario.id}"></option>
        </th:block>
    </select>
    <br>
    <input type="hidden" name="cursoId" th:value="${cursoId}" id="cursoId">
    <label for="curso">Curso:</label>
    <select name="curso" id="curso">
        <option value="">Selecione um curso</option>
        <th:block th:each="curso : ${cursos}">
            <option th:value="${curso.id}" th:text="${curso.nome}"></option>
        </th:block>
    </select>
    <br>
    <label for="ano">Ano:</label>
    <select id="ano" name="ano"></select>

    <script>
        // Obtener el año actual
        var ano_actual = new Date().getFullYear();

        // Obtener el elemento select
        var select_ano = document.getElementById("ano");

        // Agregar opciones de años desde 2006 hasta 2100
        for (var ano = 2006; ano <= 2100; ano++) {
            // Crear una nueva opción
            var opcion = document.createElement("option");
            opcion.text = ano;
            opcion.value = ano;

            // Si es el año actual, seleccionarlo por defecto
            if (ano === ano_actual) {
                opcion.selected = true;
            }

            // Agregar la opción al select
            select_ano.add(opcion);
        }
    </script>

    <br>
    <label for="semestre">Semestre:</label>
    <select id="semestre" name="semestre">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <br>
    <button type="submit">Cadastrar</button>
</form>
</body>
</html>