<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Ideia</title>
</head>
<body>
<th:block th:include="mensagens"></th:block>
<h2>Cadastro de Ideia</h2>
<form method="post">
    <label>Tema:</label>
    <input type="text" id="tema" name="tema" placeholder="Digite o tema da ideia">
    <br>
    <label>Descrição:</label>
    <textarea id="descricao" name="descricao" placeholder="Digite a descrição da ideia"></textarea>
    <br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>