<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Proposta</title>
</head>
<body>
    <h1>Editar Proposta</h1>
    <th:block th:include="mensagens"></th:block>
    <form th:action="@{/editarProposta/{id}(id=${proposta.id})}" method="post" th:object="${proposta}">
        <label for="estudante">Estudante:</label>
        <select name="estudante" id="estudante">
            <option value="">Selecione um Estudante</option>
            <option th:each="usr : ${usuario}"
                    th:value="${usr.id}"
                    th:text="${usr.name}"
                    th:selected="${usr.id == proposta.estudante.id}"></option>
        </select>
        <br>
        <label for="orientador">Orientador:</label>
        <select name="orientador" id="orientador">
            <option value="">Selecione um Orientador</option>
            <option th:each="usr : ${usuario}"
                    th:value="${usr.id}"
                    th:text="${usr.name}"
                    th:selected="${usr.id == proposta.orientador.id}"></option>
        </select>
        <br>
        <label for="curso">Curso:</label>
        <select name="curso" id="curso">
            <option value="">Selecione um curso</option>
            <option th:each="crs : ${curso}"
                    th:value="${crs.id}"
                    th:text="${crs.nome}"
                    th:selected="${crs.id == proposta.curso.id}"></option>
        </select>
        <br>
        <label for="area">Area:</label>
        <select name="area" id="area">
            <option value="">Selecione uma área</option>
            <option th:each="a : ${area}"
                    th:value="${a.id}"
                    th:text="${a.nome}"
                    th:selected="${a.id == proposta.area.id}"></option>
        </select>
        <br>
        <label for="tema">Tema:</label>
        <input type="text" id="tema" name="tema" th:value="${proposta.tema}">
        <br>
        <label for="descricao">Texto</label>
        <textarea id="descricao" name="descricao" th:text="${proposta.descricao}"></textarea>
        <br>
        <button type="submit">Editar</button>
    </form>
</body>
</html>