<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Proposta</title>
</head>
<body>
    <h1>Editar Proposta</h1>
    <th:block th:include="mensagens"></th:block>
    <p>Usuario: <span th:text="${nombreUsuario}"></span></p>
    <form th:action="@{/editarProposta/{id}(id=${proposta.id})}" method="post" th:object="${proposta}">
        <input type="hidden" name="estudante.id" th:value="${proposta.estudante.id}" />
        <label for="orientador">Orientador:</label>
        <select name="orientador" id="orientador">
            <th:block th:each="orientador : ${orientadores}">
                <option th:value="${orientador.id}"
                        th:text="${orientador.name}"
                        th:selected="${orientador.id == proposta.orientador.id}"></option>
            </th:block>
        </select>
        <br>
        <label for="curso">Curso:</label>
        <select name="curso" id="curso">
            <option th:each="crs : ${curso}"
                    th:value="${crs.id}"
                    th:text="${crs.nome}"
                    th:selected="${crs.id == proposta.curso.id}"></option>
        </select>
        <br>
        <label for="area">Area:</label>
        <select name="area" id="area">
            <option th:each="a : ${area}"
                    th:value="${a.id}"
                    th:text="${a.nome}"
                    th:selected="${a.id == proposta.area.id}"></option>
        </select>
        <br>
        <label for="tema">Tema:</label>
        <input type="text" id="tema" name="tema" th:value="${proposta.tema}">
        <br>
        <label for="descricao">Texto</label>
        <textarea id="descricao" name="descricao" th:text="${proposta.descricao}"></textarea>
        <br>
        <div th:if="${#authorization.expression('hasRole(''ROLE_ORIENTADOR'') or hasRole(''ROLE_ADMIN'')')}">
            <label>Aceitada:</label>
            <input type="checkbox" th:field="*{aceitada}" />
        </div>
        <br>
        <button type="submit">Editar</button>
    </form>
</body>
</html>