<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Editar Produção Científica</title>
    <style>
        .hover-on-li:hover {
            color: white;
            text-decoration: underline;
        }

        .hover-on-li-1:hover {
            background-color: gray;
        }

        footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <th:block th:include="header"></th:block>
    <div class="container" style="padding:20px">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-left:16px">
                <li class="active" style="padding-right:8px">Você está aqui: </li>
                <li class="breadcrumb-item"><a class="link-body-emphasis" href="/index"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                </svg></a></li>
                <li class="breadcrumb-item"><a class="link-body-emphasis fw-semibold text-decoration-none" href="/listarProducoes">Lista de produções científicas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar produção científica</li>
            </ol>
        </nav>
        <main class="d-flex flex-nowrap">
            <th:block th:include="menu"></th:block>
            <div class="container">
                <th:block th:include="mensagens"></th:block>
                <div class="p-3 bg-body-secondary border-success border-top border-5 text-success fs-5">
                    Editar Produção Científica
                </div>
                <br>
                <div class="d-flex justify-content-center" style="min-height: 75vh;">
                    <div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Ano:</span>
                                <select class="form-control form-control-sm" id="ano" name="ano">
                                    <option th:each="year : ${#numbers.sequence(2006, 2100)}"
                                            th:value="${year}"
                                            th:text="${year}"
                                            th:selected="${year == ano}"></option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Semestre:</span>
                                <select class="form-control form-control-sm" id="semestre" name="semestre">
                                    <option value="1" th:selected="${semestre == 1}">1</option>
                                    <option value="2" th:selected="${semestre == 2}">2</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Gênero acadêmico-científico:</span>
                                <select class="form-control form-control-sm" id="tipo" name="tipo">
                                    <option value="Artigo científico" th:selected="${tipo eq 'Artigo científico'}">Artigo científico</option>
                                    <option value="Dissertação" th:selected="${tipo eq 'Dissertação'}">Dissertação</option>
                                    <option value="Ensaio" th:selected="${tipo eq 'Ensaio'}">Ensaio</option>
                                    <option value="Fichamento" th:selected="${tipo eq 'Fichamento'}">Fichamento</option>
                                    <option value="Monografia" th:selected="${tipo eq 'Monografia'}">Monografia</option>
                                    <option value="Projeto de pesquisa" th:selected="${tipo eq 'Projeto de pesquisa'}">Projeto de pesquisa</option>
                                    <option value="Relatório" th:selected="${tipo eq 'Relatório'}">Relatório</option>
                                    <option value="Resenha" th:selected="${tipo eq 'Resenha'}">Resenha</option>
                                    <option value="Resumo" th:selected="${tipo eq 'Resumo'}">Resumo</option>
                                    <option value="Tese" th:selected="${tipo eq 'Tese'}">Tese</option>
                                    <option value="Outro" th:selected="${tipo eq 'Outro'}">Tese</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Coorientador:</span>
                                <input type="text" class="form-control form-control-sm" id="coorientador" name="coorientador" th:value="${coorientador}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Resumo:</span>
                                <textarea class="form-control form-control-sm" id="resumo" name="resumo" th:text="${resumo}"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Abstract:</span>
                                <textarea class="form-control form-control-sm" id="abstractt" name="abstractt" th:text="${abstractt}"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Idioma:</span>
                                <input type="text" class="form-control form-control-sm" id="idioma" name="idioma" th:value="${idioma}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Apresentações:</span>
                                <textarea class="form-control form-control-sm" id="apresentacoes" name="apresentacoes" th:text="${apresentacoes}"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Palavras chaves:</span>
                                <input type="hidden" id="palavrasChaves" name="palavrasChaves">
                                <br>
                                <th:block th:each="palavra, iterStat : ${palavrasChavesList}">
                                    <span class="input-group-text" th:text="${iterStat.index + 1}"></span>
                                    <input type="text" class="form-control" th:id="'palavraChave' + ${iterStat.index + 1}" th:name="'palavraChave' + ${iterStat.index + 1}" th:value="${palavra}">
                                </th:block>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="pdf">PDF:</label>
                                <input class="form-control form-control-sm" id="pdf" name="file" type="file" multiple/>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Banca:</span>
                                <input type="hidden" id="banca" name="banca">
                                <br>
                                <th:block th:each="bnc, iterStat2 : ${bancaList}">
                                    <span class="input-group-text" th:text="${iterStat2.index + 1}"></span>
                                    <input type="text" class="form-control" th:id="'banca' + ${iterStat2.index + 1}" th:name="'banca' + ${iterStat2.index + 1}" th:value="${bnc}">
                                </th:block>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">URL:</span>
                                <input type="text" class="form-control form-control-sm" id="url" name="url" th:value="${url}">
                            </div>
                            <script>
                                function concatenateKeywords() {
                                    const palavraChave1 = document.getElementById("palavraChave1").value;
                                    const palavraChave2 = document.getElementById("palavraChave2").value;
                                    const palavraChave3 = document.getElementById("palavraChave3").value;
                                    const palavraChave4 = document.getElementById("palavraChave4").value;
                                    const palavraChave5 = document.getElementById("palavraChave5").value;
                                    const palavrasChavesConcatenadas = palavraChave1 + " - " + palavraChave2 + " - " + palavraChave3 + " - " + palavraChave4 + " - " + palavraChave5;
                                    document.getElementById("palavrasChaves").value = palavrasChavesConcatenadas;
                                }

                                function concatenateBanca() {
                                    const banca1 = document.getElementById("banca1").value;
                                    const banca2 = document.getElementById("banca2").value;
                                    const banca3 = document.getElementById("banca3").value;
                                    const bancaConcatenada = banca1 + " - " + banca2 + " - " + banca3;
                                    document.getElementById("banca").value = bancaConcatenada;
                                }
                            </script>
                            <button type="submit" class="btn btn-primary" onclick="concatenateKeywords(); concatenateBanca()">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <th:block th:include="footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>