<div style="background-color: #00420c;">
    <footer style="padding-top: 30px;">
        <div class="row">
            <div class="col mb-3">
            </div>
            <div class="col-6 col-md-2 mb-3" style="border-left: 1px dotted white;">
                <h5 style="color: #61b06f">Assuntos</h5>
                <ul class="nav flex-column" style="font-size: .9em; line-height: 20px;">
                    <li class="nav-item mb-2"><a href="http://portal2.ifsul.edu.br/mapa" class="nav-link p-0 text-light">Câmpus e Polos</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://portal2.ifsul.edu.br/espaco-estudante" class="nav-link p-0 text-light">Espaço do
                        Estudante</a></li>
                    <li class="nav-item mb-2"><a href="http://portal2.ifsul.edu.br/espaco-servidor" class="nav-link p-0 text-light">Espaço do Servidor</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://www.ifsul.edu.br/proen/site/index.php" class="nav-link p-0 text-light">Cursos</a></li>
                    <li class="nav-item mb-2"><a href="http://processoseletivo.ifsul.edu.br/" class="nav-link p-0 text-light">Processo Seletivo</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://concursos.ifsul.edu.br/" class="nav-link p-0 text-light">Concursos</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://editais.ifsul.edu.br/index.php?c=lista&id=105" class="nav-link p-0 text-light">Editais</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://portal2.ifsul.edu.br/reitoria" class="nav-link p-0 text-light">Reitoria</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3" style="border-left: 1px dotted white; height: 230px;">
                <h5 style="color: #61b06f">Serviços</h5>
                <ul class="nav flex-column" style="font-size: .9em; line-height: 20px;">
                    <li class="nav-item mb-2"><a href="http://joomla-teste-dev.adm.ifsul.edu.br/institucional" class="nav-link p-0 text-light">Acesso à
                        informação</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/carta-ao-cidadao" class="nav-link p-0 text-light">Carta ao Cidadão</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/auditoria-interna" class="nav-link p-0 text-light">Auditoria Interna</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/comunicacao" class="nav-link p-0 text-light">Comunicação</a></li>
                    <li class="nav-item mb-2"><a href="http://www.ifsul.edu.br/estrutura/ouvidoria.php" class="nav-link p-0 text-light">Ouvidoria</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/fale-conosco" class="nav-link p-0 text-light">Fale Conosco</a>
                    </li>
                    <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/telefones" class="nav-link p-0 text-light">Telefones</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3" style="border-left: 1px dotted white; height: 120px;">
                <h5 style="color: #61b06f">Redes Sociais</h5>
                <ul class="nav flex-column" style="font-size: .9em; line-height: 20px;">
                    <li class="nav-item mb-2"><a href="http://intranet.ifsul.edu.br/" class="nav-link p-0 text-light">Intranet</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/ifsul.lvto" class="nav-link p-0 text-light">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="https://www.instagram.com/ifsul_livramento/" class="nav-link p-0 text-light">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 offset-md-1 mb-3" style="margin-left: 0;">
                <div class="col-6 col-md-2 mb-3"
                     style="border-left: 1px dotted white; padding: 0px 12px; height: 90px;">
                    <h5 style="color: #61b06f">RSS</h5>
                    <ul class="nav flex-column" style="font-size: .9em; line-height: 20px;">
                        <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/o-que-e-rss" class="nav-link p-0 text-light">O que é?</a></li>
                        <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/ultimas-noticias?format=feed&type=rss" class="nav-link p-0 text-light">Assine</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3"
                     style="border-left: 1px dotted white; padding: 0px 12px; height: 90px; width: 150px;">
                    <h5 style="color: #61b06f">Sobre o site</h5>
                    <ul class="nav flex-column" style="font-size: .9em; line-height: 20px;">
                        <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/acessibilidade" class="nav-link p-0 text-light">Acessibilidade</a>
                        </li>
                        <li class="nav-item mb-2"><a href="http://www.santana.ifsul.edu.br/mapa-do-site" class="nav-link p-0 text-light">Mapa do
                            site</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div style="background-color: #002907; padding: 0 120px;">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <div class="col-md-4 d-flex align-items-center">
                <a href="http://www.acessoainformacao.gov.br/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img
                            src="http://www.santana.ifsul.edu.br/templates/padraogoverno01/images/acesso-a-informacao.png" />
                </a>
            </div>
            <div class="nav col-md-4 justify-content-end d-flex">
                <a href="https://emec.mec.gov.br/emec/consulta-cadastro/detalhamento/d96957f455f6405d14c6542552b0f6eb/MTU3OA==" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img width="327px" src="http://www.santana.ifsul.edu.br/images/DTI/banner_rodapeFINAL.jpg" />
                </a>
            </div>
        </footer>
    </div>
</div>