<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produções Científicas</title>
</head>
<body>
    <h1>Lista de Produções Científicas</h1>
    <table>
        <thead>
        <tr>
            <th>Semestre</th>
            <th>Ano</th>
            <th>Gênero acadêmico</th>
            <th>Coorientador</th>
            <th>Resumo</th>
            <th>Archivo</th>
            <th>Apresentações</th>
            <th>Palavras chaves</th>
            <th>Tema</th>
            <th>Área</th>
            <th>Curso</th>
            <th>Estudante</th>
            <th>Orientador</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producao : ${producoes}">
            <td th:text="${producao.semestre}"></td>
            <td th:text="${producao.ano}"></td>
            <td th:text="${producao.tipo}"></td>
            <td th:text="${producao.coorientador}"></td>
            <td th:text="${producao.resumo}"></td>
            <td th:text="${producao.pdf}"></td>
            <td th:text="${producao.apresentacoes}"></td>
            <td th:text="${producao.palavrasChaves}"></td>
            <td th:text="${producao.proposta.tema}"></td>
            <td th:text="${producao.proposta.area.nome}"></td>
            <td th:text="${producao.proposta.curso.nome}"></td>
            <td th:text="${producao.proposta.estudante.name}"></td>
            <td th:text="${producao.proposta.orientador.name}"></td>
            <td><a th:href="@{/editarProducao/{id} (id=${producao.id})}">Editar</a></td>
            <td><a th:href="@{/excluirProducao/{id} (id=${producao.id})}" onclick="return confirm('Tem certeza que deseja excluir esta Produção Científica?');">Excluir</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>