<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Produção Científica</title>
</head>
<body>
<h1>Detalhes da Produção Científica</h1>
<table>
    <tr>
        <th>Semestre</th>
        <td th:text="${semestre}"></td>
    </tr>
    <tr>
        <th>Ano</th>
        <td th:text="${ano}"></td>
    </tr>
    <tr>
        <th>Gênero acadêmico</th>
        <td th:text="${tipo}"></td>
    </tr>
    <tr>
        <th>Coorientador</th>
        <td th:text="${coorientador}"></td>
    </tr>
    <tr>
        <th>Resumo</th>
        <td th:text="${resumo}"></td>
    </tr>
    <tr>
        <th>Arquivo</th>
        <td><a th:href="@{/pdf/{pdf}(pdf=${pdf})}" target="_blank" th:text="${pdf}"></a></td>
    </tr>
    <tr>
        <th>Apresentações</th>
        <td th:text="${apresentacoes}"></td>
    </tr>
    <tr>
        <th>Palavras chaves</th>
        <td th:text="${palavrasChaves}"></td>
    </tr>
    <tr>
        <th>Título</th>
        <td th:text="${proposta.tema}"></td>
    </tr>
    <tr>
        <th>Área</th>
        <td th:text="${proposta.area.nome}"></td>
    </tr>
    <tr>
        <th>Curso</th>
        <td th:text="${proposta.curso.nome}"></td>
    </tr>
    <tr>
        <th>Autor</th>
        <td th:text="${proposta.estudante.name}"></td>
    </tr>
    <tr>
        <th>Orientador</th>
        <td th:text="${proposta.orientador.name}"></td>
    </tr>
</table>
</body>
</html>